<a href="https://colab.research.google.com/github/AmithReddyKasarla/AmithReddy_INFO5502_-Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
#Importing OrderedDict to sort the Dictionaries
from collections import OrderedDict
#Taking input file string to check the occurances
str = input('Enter a string: ')
#Creating a variable to check all the elements in the input 
x = {}.fromkeys(str,0)
#Starting a for loop to take every chararter from the string
for char in str:
#Creating if statement to check if it satisfies the the condition
  if char in x:
#Incase above if statement is satified then we can increment the char and check for the other
    x[char] = x[char]+1
# Created a variable C to store the Ordered dictionariers.
c = OrderedDict(sorted(x.items(), reverse = True))
#Printing the result which is stored in C
print(c)
#Checking the type
type(x)

Enter a string: google.com
OrderedDict([('o', 3), ('m', 1), ('l', 1), ('g', 2), ('e', 1), ('c', 1), ('.', 1)])

dict

(2) Write a Python program to sum all the items in a list. (5 points)

In [2]:
# write your answer here
# Declaring ths elements in the list
list = [4, 5, 8, 3, 8]
#declaring the x variable
x = 0
# Starting for loop to perform the operation in the list
for i in range(0, len(list)):
# Storing the sum value in the X
  x = x + list[i]
#Printing the Sum value by calling the X from above stored value
print('The Sum of all the items in the list : ', x)

The Sum of all the items in the list :  28

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [48]:
# write your answer here
#Defining the function change with x as string parameter
def change(x: str):
#In below code taking the first index location and checking with the rest of the index locations if there is any repeatations, if any then replacing it with '$' 
  y = x[0] + x[1: ].replace(x[0], '$', x.count(x[0]))
#After replacing then returning the result stored in y
  return y
#x is the input
x = 'restart'
print(change(x))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
# write your answer here
#importing math library
import math
# Taking two variable to store the the input values for a and b in int type 
a = int(input('Enter the value for a: '))
b = int(input('Enter the value for b: '))
#Taking the formula to perform operations
S = 3.14 * (1+ a/b)**3
#Printing the Value
print('S = ', S)

Enter the value for a: 2
Enter the value for b: 1
S =  84.78

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
#defining the three dictionaries
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
# Using **[double star] to concatenate all the parameters from the defined dictionaries
result= {**dic1, **dic2, **dic3}
#printing the result
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
# write your answer here
#defining a tuple with elements
tuple = ('a','b','c','d','e','f')
#Printing the result as True if the element found in the tuple and False if not found
print('d' in tuple)

True

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
# write your answer here
#Defining the set with random elements
Set = {3, 8, 5, 10, 1, 17, 15, 19}
#Creating two elements x and y and calling min and max functions.
x = min(Set)
y = max(Set)
#Printing the Maximum or Minimum value.
print('The maximum value in the set : ',y)
print('The minimum value in the set : ',x)

The maximum value in the set :  19
The minimum value in the set :  1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

---



studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [30]:
# write your answer here
#Importing random module
from random import sample, randint
#Declarin the list of students
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
#Defining a function group and passng the parameters with there type
def group(student_list : list, count : int):
#Starting for loop to count and select the required number of students
  for i in range(count):
#Dividing the students in a group with minimum of 4 and maximum of 6
    print(sample(student_list, randint(4,6)))
#count = 6 because we need to divide the students into 6 groups
count = 6
group(student_list, count)

['aos0040', 'sc1229', 'sk1313', 'jl1252', 'dr0609']
['jl1252', 'ms1500', 'sa1198', 'sk1390', 'aos0040', 'sc1229']
['sb1357', 'pr0353', 'sk1458', 'ak0934', 'fh0141', 'vb0218']
['sg1297', 'jl1252', 'sb1357', 'sc1229']
['ak0934', 'sk1458', 'kg0569', 'kg0470', 'vm0377']
['sc1229', 'sa1198', 'nm0618', 'sg1297', 'hy0232', 'pr0353']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [29]:
# write your answer here
#Importin the he modules
from collections import Counter
from typing import List
# Creating a list to check if there is any duplicates
z = [2, 5, 6, 8, 9, 12, 15];
#Defining a function def of list z 
def dup(z):
#Defining an emppty list d to perform the operations and store the result
  d = []
  count = dict(Counter(z))
#Starting a for loop to check every position in the list
  for x in count.keys():
    if  count[x] > 1:
      d.append(x)
  return d if len(d)>0 else -1
print(dup(z))

-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
# write your answer here
#Impoting the required modules
import calendar
import datetime
from datetime import date, timedelta
#Taking input year to check the sundays in the specified year
Year = int(input('Enter a Specified Year: '))
#Defining Sundays as a function
def sundays(year):
#Assigning d with date from datetime module
  d = date(year,1, 1)
  d = d + datetime.timedelta(days = 6 - d.weekday())
#Creating while statement to check if they are equal
  while d.year == year:
#If yes we will Yield the d, we ar not using return because it will exit the function and gives a value
    yield d
    d = d+datetime.timedelta(days=7)
for d in sundays(Year):
  print(d)

Enter a Specified Year: 2022
2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25