<a href="https://colab.research.google.com/github/AmithReddyKasarla/AmithReddy_INFO5502_-Spring2022/blob/main/lab_assignment_02_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [2]:
# Your code here
#Firstly I am importing the random, to call a set of numbers in a given range of numbers.
import random
#Assigning the condition to num
num = random.sample(range(1,100), 12)
#Printing 12 numbers from 1 to 10
print('The list of numbers:', num)
#Sorting the 12 numbers in num
num.sort()
#Printing the sorted numbers
print('The numbers in Ascending order:',num)
#Now using reverse = True to sort the set of numbers in descending order
num.sort(reverse = True)
#Printing the numbers in descending order
print('The numbers in Descending order:',num)
#Now calculating the average of the sorted numbers
avg = sum(num)/len(num)
#Printing the average
print('The average of the numbers:',avg)

The list of numbers: [6, 34, 39, 20, 46, 69, 29, 43, 56, 42, 51, 30]
The numbers in Ascending order: [6, 20, 29, 30, 34, 39, 42, 43, 46, 51, 56, 69]
The numbers in Descending order: [69, 56, 51, 46, 43, 42, 39, 34, 30, 29, 20, 6]
The average of the numbers: 38.75

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [11]:
# Your code here
#(1)
#Here I imported Regular Expression re
import re
#Here I am using two inputs to read two sentence from user
a = input("Enter first sentance : ")
b = input("Enter second sentance : ")

#(2)
#After reading two sentence creating a new line and then using split function to split the sentence as required
print("\n")
print(a.split(' '))
print(b.split(' '))
print('\n')

#(3)
#Here using for statement in the splitted sentence to check if there is any this common
for i in a:
  if i in b:
    print(i)


#(4)
#Checking for the punctions and removing them using for and if statements and replacing with blanks
z=['.',',',':',';','?','!']
for i in a:
  if i in z:
    print(i)
    a=a.replace(i,' ')
print('\n')
print(a)
print('\n')



#(5)
#Checking the count of vowels in the two sentence using for statement
for sentence in (a, b):
  vowels_count = {}
  for char in ['a','e','i','o','u']:
    vowels_count[char] = sentence.lower().count(char)
  print(vowels_count)

Enter first sentance : Alas ? Am I alive ?
Enter second sentance : This is my first python program


['Alas', '?', 'Am', 'I', 'alive', '?']
['This', 'is', 'my', 'first', 'python', 'program']


a
s


m


a
i

?
?


Alas   Am I alive


{'a': 4, 'e': 1, 'i': 2, 'o': 0, 'u': 0}
{'a': 1, 'e': 0, 'i': 3, 'o': 2, 'u': 0}

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [5]:
# Your code here
#Now from math I am importing pi because to find the volume we need pi value which is inbuilt 
from math import pi
#Now I am assigning 0 to V
V = 0
#Next I am printing r and V as mentioned in the question 
print('r         V')
#Then I am using for loop to run r in range of (1-10)
for r in range(1,10):
  V = 4/3 * pi * r ** 3
#Then I am printing the values so that it will be below the mentioned Variables
  print('{}         {}'.format(r,V))

r         V
1         4.1887902047863905
2         33.510321638291124
3         113.09733552923254
4         268.082573106329
5         523.5987755982989
6         904.7786842338603
7         1436.7550402417319
8         2144.660584850632
9         3053.6280592892786

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
# Your code here
#I am importing numpy for numerical operations on arrays and pandas for data analysis 
import numpy as np
import pandas as pd

In [16]:
#Here with the help of pandas i am importing the data from the local files in colab
data = pd.read_csv('/content/lab_assignment_02_denton_housing (1).csv')

In [17]:
#Displaying the contents in data
data

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [35]:
#(1)
#Now creating occupied variable and using loc function to filter out only the occupied housing units and sorting them with respect to year in ascending order
occupied = data.loc[data['title_field'] == 'Occupied Housing Units'].sort_values('year', ascending=True)

In [36]:
#Displaying the occupied variable
occupied

    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

In [40]:
#Here I am formatting the years in required format and also assigning the difference for the respective years 
occupied = occupied.assign(years=occupied['year'].map(str)+ '-' + occupied['year'].shift(-1).fillna(-999).astype(int).map(str), Difference = occupied['value'] - occupied['value'].shift(-1).fillna(0).astype(int))

In [41]:
occupied.drop(occupied[occupied['years'].str.contains('--')].index, inplace=True)

In [42]:
print(occupied[['years','Difference']].sort_values(by='Difference', ascending=True).to_string(index=False))

    years  Difference
2009-2010       -5091
2013-2014       -2622
2012-2013       -1565
2011-2012       -1404
2010-2011         303
2008-2009         795

In [23]:
#(2)
Total = data.loc[data['title_field'] == 'Total Housing Units']
Occupy = data.loc[data['title_field'] == 'Occupied Housing Units']

res = Total.merge(Occupy, on='year', how='inner')

In [24]:
res['Occupied Housing Units'] = round(((res['value_y']/res['value_x'])*100)).astype(str) + '%'
res['Vacant Housing Units'] = round(((res['value_x'] - res['value_y'])/res['value_x'])*100).astype(str) + '%'

In [25]:
res.drop(['title_field_x','value_x', 'title_field_y', 'value_y'],axis = 1, inplace = True )
res.rename(columns={'year': 'YEAR'}, inplace = True)

In [26]:
print(res.sort_values(by='YEAR', ascending=True).to_string(index=False))

 YEAR Occupied Housing Units Vacant Housing Units
 2008                  89.0%                11.0%
 2009                  91.0%                 9.0%
 2010                  92.0%                 8.0%
 2011                  91.0%                 9.0%
 2012                  93.0%                 7.0%
 2013                  91.0%                 9.0%
 2014                  94.0%                 6.0%

In [27]:
#(3)
Vacant = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by='value', ascending=False).head(1)
Occupied = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by='value',ascending=False).head(1)

In [28]:
result = pd.concat([Vacant, Occupied])

In [29]:
result = result[['title_field','year','value']]

In [30]:
result.rename(columns={'title_field': '', 'year':'Year','value':'Value'}, inplace = True)

In [31]:
print(result.to_string(index=False))

                        Year  Value
  Vacant Housing Units  2008   4483
Occupied Housing Units  2014  46295

In [32]:
#(4)
#to get the hmean I am importing hmean from scipy.stats.mstats
from scipy.stats.mstats import hmean

In [33]:
X = data.loc[data['title_field'] == 'Total Housing Units'].groupby('title_field').value.apply(hmean)

In [34]:
print(X.to_string(header=False))

Total Housing Units    44398.28544