In [13]:
import numpy as ny
import pandas as ps
import matplotlib.pyplot as pt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [14]:
data = ps.read_csv("C:/Users/Amith Reddy/OneDrive/Desktop/monet.csv")

In [15]:
data

        PRICE  HEIGHT  WIDTH  SIGNED  PICTURE  HOUSE
0    3.993780    21.3   25.6       1        1       1
1    8.800000    31.9   25.6       1        2       2
2    0.131694     6.9   15.9       0        3       3
3    2.037500    25.7   32.0       1        4       2
4    1.487500    25.7   32.0       1        4       2
..        ...     ...    ...     ...      ...     ...
425  5.282500    25.6   39.4       1      375       1
426  9.352500    25.9   39.6       1      375       2
427  8.252500    25.6   39.6       1      375       1
428  3.410000    25.6   39.4       1      386       2
429  1.542500    25.7   32.0       1      387       1

[430 rows x 6 columns]

In [16]:
train = data.sample(frac = 0.7)
test = data.drop(train.index)

In [17]:
mod = linear_model.LinearRegression()
mod.fit(train[['HEIGHT','WIDTH','PICTURE']],train.PRICE)

LinearRegression()

In [18]:
pr = mod.predict(test[['HEIGHT','WIDTH','PICTURE']])
pr

array([ 2.22285343,  2.38815501,  2.6653432 ,  2.86082012,  2.84194749,
        2.8584603 ,  2.50099388,  1.74748851,  1.42312354,  2.42655366,
        1.38235097,  1.36295481,  3.06261129,  5.38355256,  2.32983711,
        3.07569035,  2.47405965,  2.48985275,  3.57513492,  2.53519644,
        2.14485474,  1.29855053,  2.44412015,  1.08018832,  2.47557194,
        2.81479686,  2.41148845,  2.11149401,  3.27867725,  2.38645679,
        2.58342531,  1.65701048,  2.12538454,  3.70448523,  0.66798489,
        2.78885594,  2.50545333,  5.37033181,  8.08366301,  4.74732152,
        8.05673014,  2.20087048,  2.01169976,  3.72950449,  2.71618252,
        3.52370395,  2.71552775, 11.66471122,  2.72142434,  3.22429798,
        1.85902966,  2.12823197,  3.22999841,  2.01838416,  2.60439894,
        2.60439894,  2.78157897,  2.26665925,  0.65548839,  2.47813498,
        2.47813498,  1.04916922,  2.01086509,  4.46818676,  1.73451203,
        8.94993004,  6.08569701,  2.19504566,  1.79337122,  2.67929504,
        3.25909221,  3.92758379,  2.67365954,  2.39941646,  3.72185761,
        3.72460975,  2.8361221 ,  4.00542954,  1.82395479,  3.92083491,
        5.22957077,  3.48016731,  1.63251283,  2.76174682,  0.87262543,
        2.49255406,  3.62539748,  1.59889909,  3.76836097,  4.38161234,
        4.32669952, -1.38402333, -1.52785674,  1.36702469,  2.46141101,
        4.29895382,  4.77288901,  2.09913318,  1.78690606,  8.46424546,
        4.4439942 ,  4.49104294,  0.83320881,  4.42295155, 10.35230555,
        3.15253201,  3.76378883,  0.86996723,  1.7977107 ,  1.63827717,
        3.7417655 ,  3.95295012,  2.55387019,  0.43093986,  0.37327491,
        3.26320245,  3.73586755,  5.09752815,  4.27895554,  3.14757051,
        3.75532865,  2.78406047,  1.51987275,  1.00449442,  4.19422342,
       -0.03669675,  2.66094096,  3.24695574,  4.22235371])

In [19]:
mod.coef_

array([0.08583788, 0.10812378, 0.00275213])

In [20]:
mod.intercept_

-3.2888480050416855

In [21]:
mod.score(test[['HEIGHT','WIDTH','PICTURE']],test.PRICE)

0.1251857923998274

In [22]:
y = test.PRICE
error = mean_squared_error(y,pr)

In [23]:
error

17.609829529714975